@font-face {
    font-family: Roboto;
    src: url(Roboto-Light.ttf);
}

/*#region common*/
body {
    margin: 0;
    background: linear-gradient(40deg, rgba(224,120,133,1) 0%, rgba(96,81,148,1) 100%);
    font-family: Roboto;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 100;
    user-select: none;
}

h1 {
    font-size: 40px;
}

h2 {
    margin: 20px 0;
}

.common-parapraph {
    font-size: 12px;
    line-height: 17px;
    margin-top: 25px;
}

.big-paragraph {
    font-size: 15px;
    text-align: center;
}

.common-button {
    border: 1px solid rgba(128, 128, 128, 0.489);
    border-radius: 4px;
    width: fit-content;
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}

.common-button:hover {
    background-color: rgba(128, 128, 128, 0.151);
    border: solid 1px transparent;
}

.common-button.blue {
    background-color: rgb(139, 201, 240);
    color: white;
    border: solid 1px transparent;
}

.common-button.blue:hover {
    background-color: rgba(81, 98, 182, 0.995);
}

.line {
    height: 2px;
    width: 100px;
    margin-bottom: 20px;
    background: linear-gradient(38deg, rgba(224, 120, 132, 0.597) 0%, rgba(133, 100, 157, 0.57) 48%, rgba(111, 245, 255, 0.542) 100%);
}

.big-circle-outer {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 1px solid rgba(128, 128, 128, 0.259);
}

.big-circle-inner {
    height: 190px;
    width: 190px;
    border-radius: 95px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.medium-circle-outer {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    border: 1px solid rgba(128, 128, 128, 0.259);
    margin: auto;
}

.medium-circle-inner {
    height: 130px;
    width: 130px;
    border-radius: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid rgba(128, 128, 128, 0.259);
}

.medium-circle-inner i {
    color: rgba(224,120,133,1);
    margin-top: 30px;
    margin-left: 35px;
}
/*#endregion*/

/*#region header*/
.header {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 20px;
}

.header-logo {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: white;
}

.header-logo i {
    color: rgb(110, 110, 210);
    margin-top: 12px;
    margin-left: 13px;
}

.header-subtitlte {
    color: gainsboro;
    width: 330px;
}
/*#endregion*/


.content {
    background-color: white;
    color: gray;
    width: 80%;
    min-width: 700px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 4px;
}

.content-section {
    display: flex;
    padding: 60px;
    border-bottom: solid rgba(128, 128, 128, 0.132) 1px;
}

.content-section.horisontal {
    flex-direction: row;
}

.content-section.vertical {
    flex-direction: column;
    align-items: center;
}

/*#region content nav*/
.content-nav {
    background-color: rgb(247, 247, 247);
    height: 60px;
    border-radius: 4px 4px 0 0;

    display: flex;
    gap: 20px;
    justify-content: center;
    direction: row;
    align-items: center;
    font-size: 12px;
}

.content-nav-button {
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.content-nav-button.active {
    background-color: white;
}

/*#endregion*/

/*#region content first section*/
.first-section-left-part {
    margin-right: 40px;
}

.first-section-circle > .big-circle-inner {
    background-color: rgba(146, 142, 114, 0.603);
}
/*#endregion*/

/*#region content second section*/
.second-section-content {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 30px;
}

.second-section-content-item .content-item-header {
    margin-top: 30px;
}

.content-item-info {
    text-align: center;
}

.second-section .line {
    margin-bottom: 30px;
}
/*#endregion*/

/*#region content third section*/
.third-section .big-paragraph {
    max-width: 400px;
}

.third-section .rainbow {
    height: 120px;
    justify-content: stretch;
    width: 100%;
    margin-top: 30px;
    background-color: wheat;
    display: flex;
    border-radius: 5px;
    color: white;
}

.rainbow-item {
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rainbow-item.first {
    background-color: rgb(239, 168, 176);
    border-radius: 5px 0 0 5px;
}

.rainbow-item.second {
    background-color: rgb(199, 156, 201);
}

.rainbow-item.third {
    background-color: rgb(157, 157, 200);
}

.rainbow-item.fourth {
    background-color: rgb(177, 177, 224);
}

.rainbow-item.fifth {
    background-color: rgb(139, 201, 240);
    border-radius: 0 5px 5px 0;
}

.rainbow-item-number {
    font-size: 22px;
}

.rainbow-item-name {
    font-size: 15px;
}

.third-section .paragraph-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.third-section .paragraph-group .common-parapraph {
    text-align: justify;
}
/*#endregion*/

/*#region content fourth section*/
.fouth-section .big-paragraph {
    max-width: 400px;
}

.fouth-section .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
/*#endregion*/

/*#region footer*/
.footer {
    color: white;
    margin-bottom: 40px;
    min-width: 700px;
}

.footer p {
    color: rgb(205, 205, 205);
    font-size: 10px;
    line-height: 15px;
}

.footer-ending {
    text-align: center;
    margin-top: 40px;
}

.footer-info {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
}

.footer .common-button {
    border: 1px solid rgba(196, 196, 196, 0.564);
}

.footer .common-button:hover {
    border: 1px solid transparent;
}

.footer h4 {
    margin-bottom: 20px;
}

.footer-info-block {
    max-width: 300px;
}

.footer-info-headers p {
    color: white;
    margin-bottom: 10px;
}

.footer-info-values p {
    margin-bottom: 10px;
}

.footer-info-block-columns {
    display: flex;
    gap: 20px;
}

.footer-circle-buttons-group {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.circle-button {
    height: 34px;
    width: 34px;
    border-radius: 17px;
    border: 1px solid rgba(210, 210, 210, 0.566);
    transition: .5s;
}

.circle-button i {
    display: block;
    margin-left: 7px;
    margin-top: 6px;
    cursor: pointer;
}

.circle-button:hover {
    border: 1px solid rgb(139, 201, 240);
    color: rgb(139, 201, 240);
}
/*#endregion*/
